.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0 10px;
}

.pagination .actived {
  padding-top: 4px;
  border-left-width: 1px;
  background: #dcbb7f;
  box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
  
  
}

.pagination button:hover {
  background: #d4d8d7;
  border-top-color: rgba(0, 0, 0, 0.35);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  
}

.pagination button:focus,
.pagination button:active {
  padding-top: 4px;
  border-left-width: 1px;
  box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
}
