.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  width: 300px;
  background-color: #8aa48e;
  height: 210px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 5px 20px, rgba(0, 0, 0, 0.4) 0px 6px 6px;
  transition: 0.25s;
  align-items: center;
}

.card:hover {
  width: 350px;
  height: 230px;
}

.cardImg {
  position: absolute;
  width: 50%;
  left: -30px;
  z-index: 2;
  -webkit-box-shadow: 13px 17px 40px -20px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 13px 17px 40px -20px rgba(0, 0, 0, 0.51);
  box-shadow: 13px 17px 40px -20px rgba(0, 0, 0, 0.51);
}

.cardImg img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  object-position: center center;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.topCard {
  display: flex;
  justify-content: flex-end;
  margin-left: 205%;
  color: #ffffff;
}

.topCard .icon {
  height: 25px;
  cursor: pointer;
}

.info1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 150px;
  width: 160px;
}

.info2 {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 40px;
  bottom: 0px;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
}

.info2:hover{
  background-color: #6a5592;
}

.info2 span {
  margin-left: -150px;
}

.title {
  font-size: 14pt;
  font-family: "Franklin Gothic Medium", sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-top: 35px;
  margin-bottom: 5px;
}

.price {
  padding-right: 10%;
  font-family: "Franklin Gothic Medium", sans-serif;
  font-size: 18pt;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin: 0;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  color: red;
}