.formCont {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.prodForm * {
    flex-direction: column;
    width: 400px;
}

.prodForm h1,
h5 {
    text-align: center;
}

.prodForm input {
    height: 40px;
}

.fields {
    margin-bottom: 25px;
}

.fields p {
    margin-top: 0px;
    color: brown;
    text-align: right;

}

.prodForm select {
    height: 30px;
}

.newCategory {
    display: flex;
    align-items: flex-end;
}

.newCategory input {
    margin-bottom: 5px;
    height: 30px;
}

.prodForm button {
    width: 120px;
}