.green {
  color: #6a5592;
  float: left;
  font-size: 60px;
  margin-right: 45px;
  font-weight: 700;
  margin-bottom: 25px;
  display: flex;
    
}
.green h2{
  font-size: small;
}
.flexContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: larger;
}

.reel {
  width: 100%;
  padding: 10px 0px;
  background-color: #dfe2e1;
}

.prodCard {
  width: 300px;
}