.green {
  color: #5C7F61;
  float: left;
  font-size: 48px;
  margin-right: 10px;
  font-weight: 700;
  margin-bottom: 35px;
}

.flexContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.reel {
  width: 100%;
  padding: 10px 0px;
  background-color: #dfe2e1;
}

.prodCard {
  width: 300px;
}