.container {
    text-align: center;
    height: 100px;
    height: 130px;
    overflow: hidden;
}

footer {
    color: aliceblue;
    padding: 20px;
    background: black;
    margin-top: auto;
}

footer p {
    margin-top: 25px;
}

.logos {
    display: flex;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-evenly;
}
.iconred{
    color: #5c7f61;
}
.iconred:hover{
    color: #ffffff;
}


.logos svg {
    height: 30px;
    cursor: pointer;
}

footer a:link {
    color: #69b347;
}

footer a:visited {
    color: #69b347;
}