.content {
  display: flex;
  background-size: cover;
  align-items: center;
  flex-direction: column;
  margin: 10px 0 10px 30px;
}

.filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #2a265f;
  width: 680px;
  margin-right: 15%;
  border-radius: 10px;
  color: #d4ffb1;
  font-family: 'Trebuchet MS', sans-serif;
}

.filterContainer h2 {
  padding-right: 5%;
  font-size: 1.1rem;
}

.filters {
  background-color: #b8f587;
  padding: 5px;
  margin: 3px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #2a265f;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.reloader {
  display: flex;
  width: 30px;
  height: 30px;
}

.refreshButton {
  background-color: transparent;
  border: none;

}

.reloader:hover {
  cursor: pointer;
}